
@{
    ViewData["Title"] = "InvestorAboutUs";
    Layout = "~/Views/Shared/_IdeasInvestorsInvestor.cshtml";
}


<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/template/assets/css/style-starter.css">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">


<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      
      <h2>About Us</h2>
      
    </div>
  </div>
</section>
<!-- content-with-photo4 block -->
<section class="w3l-content-with-photo-4" id="about">
    <div id="content-with-photo4-block" class="py-5"> 
        <div class="container py-md-3">
            <div class="cwp4-two row">
               
                <div class="cwp4-text col-lg-6">
                        <h3>Company Overview</h3>
                    <p>Startups looking for investors or partners, approaching them, and communicating with them is a time-consuming job. We cut this to one click.
We do the same for investors and companies, that want to reach out to startups for investments, takeovers, or cooperations. No stumbling around in the fog. Here you will find investors and strategic partners. Don’t drown in the background noise! Make your startup visible and let them find you. If investors make a request, you can check whether or not you want to share your data – there are no automatisms.
                    </p>
                    <ul class="cont-4">
                        <li><span class="mr-3 fa fa-long-arrow-right"></span>Insurgent Mindset</li>
                        <li><span class="mr-3 fa fa-long-arrow-right"></span>Enduring Results </li>
                        <li><span class="mr-3 fa fa-long-arrow-right"></span>Passionate People</li>
                        
                    </ul>
                    @*<a class="btn btn-secondary btn-theme3 mt-3" href="#team"> About Our Team</a>*@
                </div>
                <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                    <img src="~/template/assets/images/companyoverview.jpg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content-with-photo4 block -->
@*<!-- services block1 -->
<section class="w3-about-2" id="features">
<div class="w3-services-ab py-5">
    <div class="container py-lg-3">
        <div class="title-section">
          
            <div class="title-line">
            </div>
        </div>
        <div class="row w3-services-grids py-lg-5">
            <div class="col-lg-3 w3-services-left-grid">
             
            </div>
            <div class="col-lg-9 w3-services-right-grid pl-lg-5">
                <h4>We Are Experienced Real Estate Partner</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <div class="fea-gd-vv row mt-5 pt-lg-3">	
                    <div class="col-sm-6">
                        <div class="float-lt feature-gd">		
                          <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
                          <div class="icon-info">
                             <h5>Real Estate Appraisal</h5>
                             <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                            
                         </div>
                        </div>	
                     </div>	
                     <div class="col-sm-6 mt-sm-0 mt-5">	
                        <div class="float-mid feature-gd">	
                          <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
                          <div class="icon-info">
                             <h5>Premium Quality</h5>
                             <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                            </div>
                         </div>
                  </div> 
                     <div class="col-sm-6 mt-5">	
                        <div class="float-rt feature-gd">
                          <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
                          <div class="icon-info">
                             <h5>Favourite Properties</h5>
                             <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                            </div>
                         </div>
                  </div>	 
                  <div class="col-sm-6 mt-5">	
                    <div class="float-lt feature-gd">	
                          <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
                          <div class="icon-info">
                             <h5>Finance Realestate</h5>
                             <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                            
                         </div>
                        </div> 
                     </div>	
  		 				 
               </div>
            </div>
        </div>
    </div>
</div>
</section>
*@<!-- //services block1 -->
<section class="w3l-team-main-6">
	<!-- /team-grids -->
	<div class="team-content" id="team">
		<div class="container">
			<div class="heading text-center mx-auto">
				<h3 class="head">Our Team</h3>
				@*<p class="my-3 head "> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				  Nulla mollis dapibus nunc, ut rhoncus
				  turpis sodales quis. Integer sit amet mattis quam.</p>*@
			  </div>
				
			<div class="d-grid grid-col-4 text-center mt-5 pt-3">
				<div class="team-main-6">
					<div class="column-6">
						<a href="#"><img class="img-responsive" src="~/template/assets/images/t1.jpg" alt=" "></a>
						@*<div class="buttons-teams">
							<a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
							<a href="#twitter" class="twitter mr-2 ml-2"><span class="fa fa-twitter"></span></a>
							<a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
						</div>*@
					</div>
					<div class="right-team-9">
						
						<h6><a href="#" class="title-team-32">Neel Pandya</a></h6>
						<p class="sm-text-32">Developer</p>
					
					
					</div>
				</div>
				<div class="team-main-6">
					<div class="column-6">
						<a href="#"><img class="img-responsive" src="~/template/assets/images/t2.jpg" alt=" "></a>
						@*<div class="buttons-teams">
							<a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
							<a href="#twitter" class="twitter mr-2 ml-2"><span class="fa fa-twitter"></span></a>
							<a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
						</div>*@
					</div>
					<div class="right-team-9">
						
						<h6><a href="#" class="title-team-32">Abhinav Junnarkar</a></h6>
						<p class="sm-text-32">Developer</p>
						
						
					</div>
				</div>
				<div class="team-main-6">
					<div class="column-6">
						<a href="#"><img class="img-responsive" src="~/template/assets/images/t3.jpg" alt=" "></a>
						@*<div class="buttons-teams">
							<a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
							<a href="#twitter" class="twitter mr-2 ml-2"><span class="fa fa-twitter"></span></a>
							<a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
						</div>*@
					</div>
					<div class="right-team-9">
						
						<h6><a href="#" class="title-team-32">Yash Doctor</a></h6>
						<p class="sm-text-32">Developer/Team Lead</p>
						
						
					</div>
				</div>
				<div class="team-main-6">
					<div class="column-6">
						<a href="#"><img class="img-responsive" src="~/template/assets/images/t4.jpg" alt=" "></a>
						@*<div class="buttons-teams">
							<a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
							<a href="#twitter" class="twitter mr-2 ml-2"><span class="fa fa-twitter"></span></a>
							<a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
						</div>*@
					</div>
					<div class="right-team-9">
						
						<h6><a href="#" class="title-team-32">Parth Pancholi</a></h6>
						<p class="sm-text-32">Developer</p>
						
						
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /team-grids -->
</section>
 

<!-- // grids block 5 -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->


<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
