
@{
    ViewData["Title"] = "InvestorContactUs";
    Layout = "~/Views/Shared/_IdeasInvestorsInvestor.cshtml";
}


<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/template/assets/css/style-starter.css">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">


<section class="w3l-contact-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">

      <h2>Contact Us</h2>
      
	 </div>
  </div>
</section>
<!-- contact form -->
<section class="w3l-contacts-2" id="contact">
	<div class="contacts-main">
		
		<div class="form-41-mian py-5">
			<div class="container py-md-3">
				<h3 class="cont-head">Get in touch</h3>
				<div class="d-grid align-form-map">
					<div class="form-inner-cont">
						
						<form action="https://sendmail.w3layouts.com/submitForm" method="post" class="main-input">
							<div class="top-inputs d-grid">
								<input type="text" placeholder="Name" name="w3lName" id="w3lName" required="">
								<input type="email" name="email" placeholder="Email" id="w3lSender" required="">
							</div>
							<input type="text" placeholder="Phone Number" name="w3lName" id="w3lName" required="">
							<textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea>
							<div class="text-right">
								<button type="submit" class="btn btn-theme3">Send Now</button>
							</div>
						</form>
					</div>
					
					<div class="contact-right">
						<img src="~/template/assets/images/ab-2.jpg" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="contant11-top-bg py-5">
			<div class="container py-md-3">
				<div class="d-grid contact section-gap">
					<div class="contact-info-left d-grid text-center">
						<div class="contact-info">
							<span class="fa fa-location-arrow" aria-hidden="true"></span>
							<h4>Address</h4>
							<p>C-32 Narsinhdham Society Gotri Road, Vadodara</p>
						</div>
						<div class="contact-info">
							<span class="fa fa-phone" aria-hidden="true"></span>
							<h4>Phone</h4>
							<p><a href="tel:+91 9824475437">+91 9824475437</a></p>
							<p><a href="tel:+91 7405916963">+91 7405916963</a></p>
						</div>
						<div class="contact-info">
							<span class="fa fa-envelope-open-o" aria-hidden="true"></span>
							<h4>Mail</h4>
							<p><a href="mailto:yash@gmail.com" class="email">yash@gmail.com</a></p>
							<p><a href="mailto:neel@gmail.com" class="email">neel@gmail.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3691.2917061647076!2d73.149204!3d22.304805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x570c96610d44e84a!2sEQUANIMOUS%20TECHNOLOGIES!5e0!3m2!1sen!2sus!4v1649312461390!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
</section>
<!-- //contact form -->

