GO
IF EXISTS (SELECT 1 FROM SYS.OBJECTS WHERE TYPE = 'P' AND NAME = 'GetPersonDetails')
DROP PROCEDURE [dbo].[GetPersonDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPersonDetails]
AS
BEGIN
    SELECT 
        Pname AS Name, 
        Paddress AS Address, 
        Pemail AS Email, 
        Pgender AS Gender, 
        CASE 
            WHEN Prollid = 2 THEN 'Entrepreneur' 
            WHEN Prollid = 3 THEN 'Investor'
            ELSE 'Unknown'
        END AS Entity, 
        Pphone AS Phone
    FROM 
        PersonMasters
	WHERE 
		Prollid <> 1;
END;
