
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_IdeasInvestorsLayout.cshtml";
}
 

    <!-- CSS Stylesheet -->

<link rel="stylesheet" href="~/template/assets/css/login-style.css">
<style>    
    label.error.fail-alert {
/*border: 2px solid red;*/
border-radius: 4px;
line-height: 1;
/*padding: 10px;*/
/*background: #ffe6eb;*/
color:red;
/*margin-left:150px;
margin-top:30px;*/
}
</style>


@using (Html.BeginForm("ChangePassword","Login",FormMethod.Post,new {id="ChangePasswordValue"}))
{
    
 <div class="signinform">
     
      <h1>Change Password</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>Password Change</h2>
                    
                        <div class="input-group">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="email" placeholder="Username or Email" id="Email" name="Email">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="password" placeholder="Password" id="Password" name="Password">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="password" placeholder="New Password" id="NPassword" name="NPassword">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="password" placeholder="Confirm Password" id="CPassword" name="CPassword">
                        </div>
                       
                        @*<button class="btn btn-primary btn-block" type="submit">Change Password</button>*@
                        <input type="submit" class="btn btn-primary btn-block" value="Change Password">
                    
                    @if (TempData["ErrMsg"]!= null)
                                    {
                                        <label style="color:red">
                                            @TempData["ErrMsg"]
                                        </label>
                                    }
                     
                    
                    
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        
</div>
}

@section cpValidation
{
<script>
        
    $(document).ready(function () {


        $("#ChangePasswordValue").validate({
            errorClass: "error fail-alert",
            rules: {
                Email:{
                    required:true
                },
                Password:{
                    required:true
                },
                NPassword: {
                    required: true,
                },
                CPassword: {
                    required: true,
                    equalTo: "#NPassword"
                }
            },
            messages: {
                Email: {
                    required: 'Please Enter Email-Id' ,
                    //$(this).css('color', 'red'),
                    focus() { }
                },
                Password:{
                    required: 'Please Enter Password',
                    focus() { }
                },
                NPassword: {
                    required: 'Please Enter New Password',
                    focus() { }
                },
                CPassword: {
                    required: 'Please Enter Confirm Password',
                    equalTo: "Password and Confirm Password do not match",
                    focus() { }
                }
            },
            errorPlacement:function(error,element){
                //element.css('background','#ffdddd')
                error.insertAfter(element.parent());
            }
        })

    });

</script>

}


