
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_IdeasInvestorsLayout.cshtml";
}
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/template/assets/css/style-starter.css">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">


<img src="~/template/assets/images/Sell-an-Idea-Header.png" style="width:100%; height:250px" />
	


@*<p style="background-image:url('D:\.NET\IdeasAndInvestors\IdeasAndInvestors\wwwroot\template\assets\images\5.jpg')">
   
</p>*@
<section class="locations-1" id="locations">
<div class="locations py-5">
 <div class="container py-md-3">
    <div class="heading text-center mx-auto">
        <h3 class="head">Popular Categories</h3>
        @*<p class="my-3 head "> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>*@
      </div>
            <div class="row mt-3 pt-5">
                <div class="col-md-4 col-sm-6">
                    <div class="box16">
                        <img style="width:350px;height:300px;" src="~/images/CategoryImage/technology1.jpg" alt="No image found">
                        <div class="box-content">
                            <h3 class="title">Technology</h3>
                            @*<span class="post">2 Listings</span>*@
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box16">
                        <img  style="width:350px;height:300px;" class="img-fluid" src="~/images/CategoryImage/197955c2-901d-4490-9266-71dea2b7a09b_beauty-care.jpg" alt="">
                        <div class="box-content">
                            <h3 class="title">Beauty</h3>
                            @*<span class="post">2 Listings</span>*@
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-0 pt-lg-0 mt-md-4 pt-md-2">
                    <div class="box16">
                        <img style="width:350px;height:300px;" class="img-fluid" src="~/images/CategoryImage/f65a1b36-a274-48c7-abea-07a3007968af_food (1).jpg" alt="">
                        <div class="box-content">
                            <h3 class="title">Food</h3>
                            @*<span class="post">2 Listings</span>*@
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-4 pt-md-2">
                    <div class="box16">
                        <img style="width:350px;height:300px;" class="img-fluid" src="~/images/CategoryImage/ffa2c980-cda7-42dd-9de7-faff40437010_music.jpg" alt="">
                        <div class="box-content">
                            <h3 class="title">Music</h3>
                            @*<span class="post">2 Listings</span>*@
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-4 pt-md-2">
                    <div class="box16">
                        <img style="width:350px;height:300px;" class="img-fluid" src="~/images/CategoryImage/f5dd60ce-86cf-4c35-b773-81034ed22f39_danceimage.jpeg" alt="">
                        <div class="box-content">
                            <h3 class="title">Dance</h3>
                           @* <span class="post">2 Listings</span>*@
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-4 pt-md-2">
                    <div class="box16">
                        <img style="width:350px;height:300px;" class="img-fluid" src="~/images/CategoryImage/fcb8a2f9-b519-4846-b898-4850acfaa995_artimage.jpg" alt="">
                        <div class="box-content">
                            <h3 class="title">Art</h3>
                            @*<span class="post">2 Listings</span>*@
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
	 </div>
 </section>@*
<section class="w3l-services2" id="services">
			<div class="features-with-17_sur py-5">
				   <div class="container py-md-3">
					<div class="heading text-center mx-auto">
						<h3 class="head text-white">What We Offer</h3>
						<p class="my-3 head "> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
						  Nulla mollis dapibus nunc, ut rhoncus
						  turpis sodales quis. Integer sit amet mattis quam.</p>
					  </div>
				     <div class="row pt-5 mt-3">
						<div class="col-lg-5 features-with-17-left_sur">
							<h4 class="lft-head">We’re Offering Unmatched Services</h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc Integer sit amet mattis quam.</p>
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam.</p>
							<div class="stats-1">
							<div class="stats-1-left">
								<h4>2300</h4>
								<h6>Clients</h6>
							</div>
							<div class="stats-1-left">
								<h4>16</h4>
								<h6>Awards</h6>
							</div>
							<div class="stats-1-left">
								<h4>2536</h4>
								<h6>Projects</h6>
							</div>
						</div>
						</div>
						<div class="col-lg-7 my-lg-0 my-5 align-self-center features-with-17-right_sur">
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
									<span class="fa fa-laptop s4"></span>		
								</div>
								<div class="features-with-17-left2">
									<h6><a href="#url">Fastest Service</a></h6>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>		
								</div>
							</div>
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
										<span class="fa fa-database s5"></span>		
								</div>
								<div class="features-with-17-left2">
										<h6><a href="#url">Largest Real Estate</a></h6>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>			
								</div>
							</div>
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
									<span class="fa fa-lock s3"></span>		
								</div>
								<div class="features-with-17-left2">
										<h6><a href="#url">Property Insurance</a></h6>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>	
								</div>
							</div>
							<div class="features-with-17-right-tp_sur">
								<div class="features-with-17-left1">
										<span class="fa fa-codepen s2"></span>		
								</div>
								<div class="features-with-17-left2">
										<h6><a href="#url">Doorstep Process</a></h6>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolore.</p>	
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
		</section>*@@*
<section class="grids-4" id="properties">
    <div id="grids4-block" class="py-5">
       <div class="container py-md-3">
			<div class="heading text-center mx-auto">
      <h3 class="head">Properties For sale</h3>
      <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nulla mollis dapibus nunc, ut rhoncus
        turpis sodales quis. Integer sit amet mattis quam.</p>
    </div>
            <div class="row mt-5 pt-3">
                <div class="grids4-info  col-lg-4 col-md-6">
                        <a href="#"><img src="~/template/assets/images/g7.jpg" class="img-fluid" alt=""></a>
                        <ul class="location-top">
                            <li class="rent">For Rent</li>
                            <li class="open-1">Open House</li>
                        </ul>
                        <div class="info-bg">
                            <h5><a href="#">Luxury Apartment In chelsea</a></h5>
                            <p>$ 450,000 $777 / sqft</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 4 Beds</li>
                                <li><span class="fa fa-bath"></span> 3 Baths</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
                <div class="grids4-info col-lg-4 col-md-6 mt-md-0 mt-5">
                        <a href="#"><img src="~/template/assets/images/g8.jpg" class="img-fluid" alt=""></a>
                        <ul class="location-top">
                            <li class="sale">For Sale</li>
                            <li class="open-1">Open House</li>
                        </ul>
                        <div class="info-bg">
                            <h5><a href="#">Nature-Friendly Family Houses</a></h5>
                            <p>$ 1,350 / per month</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 3 Beds</li>
                                <li><span class="fa fa-bath"></span> 2 Baths</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
                 <div class="grids4-info col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <a href="#"><img src="~/template/assets/images/g7.jpg" class="img-fluid" alt=""></a>
                        <ul class="location-top">
                            <li class="rent">For Rent</li>
                            <li class="open-1">Open House</li>
                        </ul>
                        <div class="info-bg">
                            <h5><a href="#">House Rent in Hydepark</a></h5>
                            <p>$ 2,500 /per month</p>
                           <ul>
                                <li><span class="fa fa-bed"></span> 4 Beds</li>
                                <li><span class="fa fa-bath"></span> 3 Baths</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
					 <div class="grids4-info  col-lg-4 col-md-6 mt-5">
                        <a href="#"><img src="~/template/assets/images/g8.jpg" class="img-fluid" alt=""></a>
                        <ul class="location-top">
                            <li class="sale">For Sale</li>
                            <li class="open-1">Open House</li>
                        </ul>
                        <div class="info-bg">
                            <h5><a href="#">Apartment in Memorial Texas</a></h5>
                            <p>$ 220,000 550 / Sqft</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 5 Beds</li>
                                <li><span class="fa fa-bath"></span> 3 Baths</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
					 <div class="grids4-info  col-lg-4 col-md-6 mt-5">
                        <a href="#"><img src="~/template/assets/images/g9.jpg" class="img-fluid" alt=""></a>
                        <ul class="location-top">
                            <li class="rent">For Rent</li>
                            <li class="open-1">Open House</li>
                        </ul>
                        <div class="info-bg">
                            <h5><a href="#">Villa in Miami beach Florida</a></h5>
                            <p>$ 150,000 500 / Per Sqft</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 2 Beds</li>
                                <li><span class="fa fa-bath"></span> 1 Baths</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
					 <div class="grids4-info  col-lg-4 col-md-6 mt-5">
                        <a href="#"><img src="~/template/assets/images/g10.jpg" class="img-fluid" alt=""></a>
                        <ul class="location-top">
                            <li class="sale">For Sale</li>
                            <li class="open-1">Open House</li>
                        </ul>
                        <div class="info-bg">
                            <h5><a href="#">Apartment Jacksonville</a></h5>
                            <p>$ 750 /per month</p>
                            <ul>
                                <li><span class="fa fa-bed"></span> 4 Beds</li>
                                <li><span class="fa fa-bath"></span> 3 Baths</li>
                                <li><span class="fa fa-share-square-o"></span> 1200 sq ft</li>
                            </ul>
                        </div>
                    </div>
                </div>
           </div>
    </div>
</section>*@
<section class="w3l-apply-6">
	<!-- /apply-6-->
	<div class="apply-info py-5">
		<div class="container py-lg-3">
			<div class="heading text-center mx-auto">
				<h3 class="head text-white">What Makes Us The Preferred Choice</h3>
				@*<p class="my-3 head "> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				  Nulla mollis dapibus nunc, ut rhoncus
				  turpis sodales quis. Integer sit amet mattis quam.</p>*@
			  </div>
			<div class="apply-grids-info row pt-5 mt-3">
				<div class="apply-gd-left col-lg-7">
						<div class="row">
						<div class="col-sm-6 sub-apply">
								<div class="apply-sec-info text-center">
										
											<span class="fa fa-university mb-4"></span>
									
										<div class="appyl-sub-icon-info">
												<h5><a>Maximum Choices</a></h5>
											<p>More than 200 startups to invest</p>
										</div>
					
									</div>

						</div>
						<div class="col-sm-6 sub-apply mt-sm-0 mt-5">
							<div class="apply-sec-info text-center">
									
										<span class="fa fa-bath mb-4"></span>
									
									<div class="appyl-sub-icon-info">
											<h5><a>Buyers Trust Us</a></h5>
										<p>Facile procedure and no third party invovlment</p>
									</div>
				
								</div>

					</div>
					<div class="col-sm-6 sub-apply mt-5">
						<div class="apply-sec-info text-center">
								
									<span class="fa fa-cubes mb-4"></span>
								
								<div class="appyl-sub-icon-info">
										<h5><a>Seller Prefer Us</a></h5>
									<p>Investment completed in more than 100 startups</p>
								</div>
			
							</div>

				</div>
						<div class="col-sm-6 sub-apply mt-5">
								<div class="apply-sec-info text-center">
										
											<span class="fa fa-hospital-o mb-4"></span>
										
										<div class="appyl-sub-icon-info">
												<h5><a>Expert Guidance</a></h5>
											<p>Our team will assist you at every stage</p>
										</div>
					
									</div>
						</div>
					</div>
				</div>
				<div class="apply-gd-right col-lg-5 mt-lg-0 mt-5">
					<div class="apply-form p-md-5 p-4 mx-auto bg-white mw-100">
						<h4>Advantages of working with us </h4>
						<p class="mt-3">Your data is secure, investors or partners only get to see what you approve. It gives you feedback fast, your dashboard shows you how much interest there is in your start-up. It is effective, by altering investors or partners to you, when you fit their criteria.</p>
						@*<p class="mt-3"> Vero, dolore. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc Integer sit amet mattis quam.</p>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="w3l-testimonials" id="testimonials">
  <div class="customers-6-content py-5">
    <div class="container py-lg-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">Happy Clients</h3>
        @*<p class="my-3 head "> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>*@
      </div>
     
      <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
         @* <li data-target="#customerhnyCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#customerhnyCarousel" data-slide-to="1"></li>
                        <li data-target="#customerhnyCarousel" data-slide-to="2"></li>*@
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner pb-5">

          <div class="carousel-item active">
            <div class="customer row py-5 mt-3">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img class="card-img-top img-responsive" src="~/template/assets/images/c2.jpg" alt="">
                  <div class="card-body">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <h3 class="card-title">Harsh Trivedi</h3>
                    <p class="sub-title mb-3">Data Analyst</p>
                    <p class="card-text text-center mb-4"> Entrepreneurs and their conceptions are unique.
                    </p>
                    <div class="text-right">
                     <span class="fa fa-quote-right" aria-hidden="true"></span>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 off-testi-2">
                <div class="card">
                  <img class="card-img-top img-responsive" src="~/template/assets/images/c3.jpg" alt="">
                  <div class="card-body">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <h3 class="card-title">Vrushti Shah</h3>
                    <p class="sub-title mb-3">Software Developer</p>
                    <p class="card-text text-center mb-4">  UI is immaculate and it is utilizer convivial website.
                    </p>
                    <div class="text-right">
                     <span class="fa fa-quote-right" aria-hidden="true"></span>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                <div class="card">
                  <img class="card-img-top img-responsive" src="~/template/assets/images/c1.jpg" alt="">
                  <div class="card-body">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <h3 class="card-title">Vedant Sadhu</h3>
                    <p class="sub-title mb-3">Doctor</p>
                    <p class="card-text text-center mb-4">It is delectable to invest in puerile entrepreneurs of our country.
                     </p>
                     <div class="text-right">
                      <span class="fa fa-quote-right" aria-hidden="true"></span>
                     </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--.item-->

          @*<div class="carousel-item">
            <div class="customer row py-5 mt-3">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img class="card-img-top img-responsive" src="assets/images/c2.jpg" alt="">
                  <div class="card-body">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <h3 class="card-title">Mark Waugh</h3>
                    <p class="sub-title mb-3">Engineer</p>
                    <p class="card-text text-center mb-4">  Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam sequi optio
                    </p>
                    <div class="text-right">
                     <span class="fa fa-quote-right" aria-hidden="true"></span>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 off-testi-2">
                <div class="card">
                  <img class="card-img-top img-responsive" src="assets/images/c3.jpg" alt="">
                  <div class="card-body">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <h3 class="card-title">Sarina Willams</h3>
                    <p class="sub-title mb-3">Engineer</p>
                    <p class="card-text text-center mb-4">  Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam sequi optio
                     </p>
                     <div class="text-right">
                      <span class="fa fa-quote-right" aria-hidden="true"></span>
                     </div>
                    
                  </div>
                </div>
                
                
              </div>
              <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                <div class="card">
                  <img class="card-img-top img-responsive" src="assets/images/c1.jpg" alt="">
                  <div class="card-body">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <h3 class="card-title">Henry Nicholas</h3>
                    <p class="sub-title mb-3">Engineer</p>
                    <p class="card-text text-center mb-4">  Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam sequi optio
                    </p>
                    <div class="text-right">
                     <span class="fa fa-quote-right" aria-hidden="true"></span>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>
                        <!--.item-->
            <div class="carousel-item">
              <div class="customer row py-5 mt-3">
                <div class="col-lg-4 col-md-6">
                  <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/c3.jpg" alt="">
                    <div class="card-body">
                      <span class="fa fa-quote-left" aria-hidden="true"></span>
                      <h3 class="card-title">Sarina Willams</h3>
                      <p class="sub-title mb-3">Engineer</p>
                      <p class="card-text text-center mb-4">  Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam sequi optio
                       </p>
                       <div class="text-right">
                        <span class="fa fa-quote-right" aria-hidden="true"></span>
                       </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 off-testi-2">
                  <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/c2.jpg" alt="">
                    <div class="card-body">
                      <span class="fa fa-quote-left" aria-hidden="true"></span>
                      <h3 class="card-title">Mark Waugh</h3>
                      <p class="sub-title mb-3">Engineer</p>
                      <p class="card-text text-center mb-4">  Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam sequi optio
                      </p>
                      <div class="text-right">
                       <span class="fa fa-quote-right" aria-hidden="true"></span>
                      </div>
                    
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                  
                  <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/c1.jpg" alt="">
                    <div class="card-body">
                      <span class="fa fa-quote-left" aria-hidden="true"></span>
                      <h3 class="card-title">Henry Nicholas</h3>
                      <p class="sub-title mb-3">Engineer</p>
                      <p class="card-text text-center mb-4">  Lorem ipsum dolor sit amet, Ea consequuntur illum facere aperiam sequi optio
                      </p>
                      <div class="text-right">
                       <span class="fa fa-quote-right" aria-hidden="true"></span>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
          </div>*@
          <!--.item-->

        </div>
        <!--.carousel-inner-->
      </div>
    </div>
  </div>
  <!--//customers -->
</section>
<!-- specifications -->@*
<section class="w3l-specifications-9">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">We Are Here For You</h3>
                <p class="my-3 head "> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  Nulla mollis dapibus nunc, ut rhoncus
                  turpis sodales quis. Integer sit amet mattis quam.</p>
              </div>
           <div class="main-cont-wthree-fea row pt-3 mt-5">
                <div class="grids-speci1 col-lg-3 col-6">
                    <div class="spec-2 text-center">
                        <span class="fa fa-map-marker"></span> 
                    <h3 class="title-spe">180+</h3>
                    <p>Property Locations</p>
                </div>
                </div>
                <div class="grids-speci1 midd-eff-spe col-lg-3 col-6">
                    <div class="spec-2 text-center">
                    <span class="fa fa-users"></span>
                    <h3 class="title-spe">100+</h3>
                    <p>Professional Agents</p>
                    </div>
                </div>
                <div class="grids-speci1 las-but col-lg-3 col-6  mt-lg-0 mt-4">
                    <div class="spec-2 text-center">
                    <span class="fa fa-building"></span>
                    <h3 class="title-spe">250+</h3>
                    <p>Property for Sell</p>
                    </div>
                </div>
                <div class="grids-speci1 las-t col-lg-3 col-6  mt-lg-0 mt-4">
                    <div class="spec-2 text-center">
                     <span class="fa fa-home"></span>
                        <h3 class="title-spe">3200+ </h3>
                        <p>Property for Rent</p>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
    <!-- //specifications -->
</section>*@
 
